In [21]:
import numpy as np

a=np.array([1,2,3])
print(type(a))
a.shape

<class 'numpy.ndarray'>

(3,)

In [31]:
b=np.arange(12)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [32]:
b.reshape(3,4)  #makes an array from 1x12 to 3x4

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [36]:
from scipy import constants

print(constants.c)
print(constants.h)
print(constants.N_A)

299792458.0
6.62607015e-34
6.02214076e+23

In [73]:
import pandas as pd
pd.DataFrame(np.random.randn(6,4),index=list(range(1,7)),columns=list('ABCD')) #index= row label, columns=col label

          A         B         C         D
1  0.050562  0.499951 -0.995909  0.693599
2 -0.418302 -1.584577 -0.647707  0.598575
3  0.332250 -1.147477  0.618670 -0.087987
4  0.425072  0.332253 -1.156816  0.350997
5 -0.606887  1.546979  0.723342  0.046136
6 -0.982992  0.054433  0.159893 -1.208948